services:
  app:
    image: piyushinsys/petclinic:latest
    ports:
      - "8081:8080"
    networks:
      - app_net
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
    networks:
      - app_net

networks:
  app_net:
    driver: bridge

